extends main

block content
	section#archive
		h2 Blog Archive
		ul
			for entry in blog
				li
					.link
						a(href="/blog/" + entry.slug)= entry.title
					.date
						time(datetime=entry.date.toISOString()) Posted on #{entry.date.toDateString()}	
