extends main
include loren

block content
	intro_columns = "col-12 col-sm-6 col-lg-4"
	section#introduction.row
		section#credentials(class=intro_columns)
			h2 Education
			p
				| University of Texas at Dallas, Undergraduate
				br
				| Software Engineering, 2015

			h3 Technical Interests
			dl
				dt Front-end web development
				dd.
					Worked on a web project which made extensive use of front end technologies and techniques such as twitter bootstrap, javascript/jquery, and unobtrusive ajax.

				dt Back-end server development
				dd.
					Used ASP.NET MVC4 during a summer internship. Built personal website using node.js on a debian server.

				dt Software Programming
				dd.
					Strongest in Javascript, C#, Java, C++. Some experience in Ruby, Python, C.

		section#projects(class=intro_columns)
			h2 Projects 
			p Under construction
			+one 

		section#favorites(class=intro_columns)
			h2 Favorites
			p.
				Some of my favorite people on the web
			dl
				dt Bloggers
				dd
					a(href='http://zenhabits.net') Zen Habits
				dt YouTubers
				dd
					a(href='http://www.youtube.com/user/vlogbrothers') vlogbrothers
				dd	
					a(href='http://www.youtube.com/vihart') vihart
				dt Webcomics
				dd
					a(href='http://loadingartist.com') Loading Artist
				dd	
					a(href='http://catversushuman.blogspot.com/') cat vs human
				dd	
					a(href='http://doctorcatmd.com/') Doctor Cat
				dd	
					a(href='http://stupidfox.net/') StupidFox
					
	section#blog
		for entry in blog
			article
				h2 #{entry.title}
				!= entry.content
				time(datetime=entry.date.toISOString()) 
					a(href="/blog/#{entry.slug}") Posted on #{entry.date.toDateString()}
		a(href="/archive") Archive
