include mixins

doctype 5
html
	head
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		title= title
		+styles
	body
		section#top
			+header
			+nav
		section#content(data-action=action, data-actions=actions)
			block content
		section#bottom(class="stick")
			+footer
		+scripts
