mixin nav
	nav_current = "current"

	mixin nav_element(name, display)
		if display == undefined
			display = name.charAt(0).toUpperCase() + name.substr(1)

		url = name == 'index' ? "" : name

		li(class = action == name ? nav_current : "")
			a(href="/"+url)= display
	nav
		ul
			+nav_element("index", "Home")
			+nav_element("contact")
			li.dropdown
				a(id="repos", href="#", role="button", data-toggle="dropdown") Projects
					| 
					b.caret
				ul(class="dropdown-menu", role="menu", aria-labelledby="repos") 
					li(role="presentation")
						a(href="http://bitbucket.org/deslee", target="bitbucket") Bitbucket
					li(role="presentation")
						a(href="http://github.com/deslee", target="github") Github
			+nav_element("resume")

mixin scripts
	mixin init(name)
		if (actions.indexOf(name) != -1)
			script(src="/javascripts/des." + name + ".js")

	script(src="/javascripts/jquery.js")
	script(src="/javascripts/bootstrap.js")
	script(src="/javascripts/site.js")
	+init('blog')

mixin header
	header
		h1 Desmond Lee

mixin styles
	link(rel='stylesheet', href='/stylesheets/bootstrap.css')
	link(rel='stylesheet', href='/stylesheets/style.css')

mixin footer
	footer
		.left
		.right
			| built using 
			a(href="http://nodejs.org") node.js
