extends main

block content
	section.resume
		p
			| 2800 Waterview Pkwy. Apt #5625
			br
			| Richardson, TX 75067
			br
			| Email and phone redacted. Download file to view: 
			a(href="/files/resume.pdf") (pdf)
			| 
			a(href="/files/resume.docx") (docx)

		h2 Objective 
		p Self motivated developer seeking to obtain a position in the field of Software Engineering for the fall of 2013 with a willingness and interest to learn a wide variety of new technologies.

		h2 Education
		dl
			dt Bachelor of Science in Software Engineering
			dd May 2015
			dt
				strong The University of Texas at Dallas
				| , Richardson, TX
			dd GPA: 3.81
		
		h2 Computer Skills
		p
			strong Languages: 
			| Java, C, C++, C#, JavaScript, Python, PHP, and SQL
		p
			strong Software: 
			| Visual Studio, Eclipse, SQL Server Management Studio, Microsoft Office
		p
			strong Operating Systems: 
			| GNU/Linux, Windows XP, Windows 7, Windows 8, Android

		h2 Software Development Experience
		p
			strong Tekzenit &#8212; Summer Internship: 
			| Assisted in developing a social networking web application in a team environment. 
			ul
				li.
					Demonstrated skills in learning new middle-tier technologies such as ASP.NET MVC 4, 
					Entity Framework, SQL Server, and Unity Container as well as many front-end libraries 
					such as Twitter Bootstrap, jQuery, and SignalR, linq.js, and TinyMCE.
				li.
					Developed a robust, reusable, and real-time auto updating datagrid to landle large 
					amounts of data with an easy to use user interface with the help of SignalR.
				li.
					Helped implement an email templating system that reduced web server load by 
					offloading email generation and sending responsibilities to a service that could be 
					implemented on a remote server.
		p
			strong Java/Swing Elevator Simulator:
			|  Designed and developed an elevator simulator using Java for the final project in Computer Science 2. Demonstrated skills in concurrent programing and in using design patterns such as the strategy pattern, MVC, and state pattern.

		h2 Extra-curicular Activities

		dl
			dt Officer for UTD Linux Users Group
			dd April 2013 &#8212; Present
			dt Volunteer at Comet Cat Coalition
			dd October 2012 &#8212; Feb 2013
