header_font() 
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
body_font()
	font-family: Verdana, Geneva, sans-serif	
span_width()
	max-width: 960px
	margin: 0 auto
max_width()
	max-width: 100%

body_color = #333
light_text = #ddd
dark_bg = #444

body
	body_font()
	color: body_color

h1, h2, h3, h4, h5, h6
	header_font()

header
	h1
		display: inline-block
		margin-bottom: 0

img.block
	border-radius: 6px
	margin: 1em auto
	display: block

#top, #content, #bottom
	> *
		span_width()
	padding: 0 1em

#top
	border-bottom: 1px solid light_text
	margin-bottom: 1em

#bottom
	min-height: 30px
	line-height: @min-height*1.5
	background: dark_bg
	color: light_text
	a, a:hover
		color: light_text
		font-weight: bold
	padding: 0 1em
	
	a:hover
		text-decoration: none
	
	&.stick
		position: fixed
		bottom: 0
		width: 100%
	margin-top: 1em;

footer
	.left, .right
		width: 50%
		display: inline-block
	.right
		text-align: right

nav
	ul
		padding: 0
		margin: 1em 0
	li
		display: inline-block
		padding-right: 1em;
		&.current
			a
				color: body_color;

#introduction
	h2
		margin-top: 0px
	dt:not(:first-child)
		margin-top: 1em;
	border-bottom: 1px solid light_text

[data-popover]
	display: none

#blog
	time
		text-align: right
		display: block

