body {
  font-family: Verdana, Geneva, sans-serif;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
header h1 {
  display: inline-block;
  margin-bottom: 0;
}
img.block {
  border-radius: 6px;
  margin: 1em auto;
  display: block;
}
#top,
#content,
#bottom {
  padding: 0 1em;
}
#top > *,
#content > *,
#bottom > * {
  max-width: 960px;
  margin: 0 auto;
}
#top {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
}
#bottom {
  min-height: 30px;
  line-height: 45px;
  background: #444;
  color: #ddd;
  padding: 0 1em;
  margin-top: 1em;
}
#bottom a,
#bottom a:hover {
  color: #ddd;
  font-weight: bold;
}
#bottom a:hover {
  text-decoration: none;
}
#bottom.stick {
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer .left,
footer .right {
  width: 50%;
  display: inline-block;
}
footer .right {
  text-align: right;
}
nav ul {
  padding: 0;
  margin: 1em 0;
}
nav li {
  display: inline-block;
  padding-right: 1em;
}
nav li.current a {
  color: #333;
}
#introduction {
  border-bottom: 1px solid #ddd;
}
#introduction h2 {
  margin-top: 0px;
}
#introduction dt:not(:first-child) {
  margin-top: 1em;
}
[data-popover] {
  display: none;
}
#blog time {
  text-align: right;
  display: block;
}
