body {
  background: #383838;
  color: #3b3b3b; }

nav {
  background: #111111; }
  nav a:link, nav a:visited, nav a:active, nav a:hover {
    padding: 0.5em 1em;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: white; }
  nav a:hover {
    background: #222222; }

header {
  max-width: 960px;
  margin: 0 auto; }
  header h1 {
    display: none; }

#content-wrapper {
  padding: 1em;
  margin: 1em 0;
  background: white;
  color: #3b3b3b; }

#content {
  max-width: 960px;
  margin: 0 auto; }

#page-body {
  background-color: white;
  color: #3b3b3b; }

img {
  max-width: 100%; }
